<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Quavertrack lets you view your progression over time by recording your stats periodically and showing trends via charts + other visualizations"
    />

    <meta property="og:title" content="Quavertrack" />
    <meta property="og:url" content="https://quavertrack.net/" />
    <meta
      property="og:description"
      content="Quavertrack lets you view your progression over time by recording your stats periodically and showing trends via charts + other visualizations"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://quavertrack.net/quavertrack.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta
      property="og:image:alt"
      content="A blue music note on a dark background; the Quavertrack logo"
    />
    <meta property="og:twitter:card" content="summary" />
    <meta name="twitter:title" content="Quavertrack" />
    <meta
      name="twitter:description"
      content="Quavertrack lets you view your progression over time by recording your stats periodically and showing trends via charts + other visualizations"
    />

    <!-- Sentry -->
    <script
      src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({ dsn: 'http://192d61f688434a9cab611addefd619df@104.225.217.211:8080/2' });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175024927-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-175024927-1');
    </script>

    <style>
      body {
        background-color: #131412;
        font-family: 'PT Sans', 'Open Sans', 'Roboto', sans-serif !important;
      }
    </style>
  </head>

  <body class="bp3-dark">
    <div id="root"></div>
  </body>
</html>
