<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175024927-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175024927-1');
    </script>


    <style>
      body {
        background-color: #131412;
        font-family: 'PT Sans', 'Open Sans', 'Roboto', sans-serif !important;
      }
    </style>
  </head>

  <body class="bp3-dark">
    <div id="root"></div>
  </body>
</html>
